<%- include("header") -%>

<div class="box" id="heading">
  <h1> About Page </h1>
</div>

<div class="box">
  <p>hodiuhgfoidufhtoiuhoiue ofrteiuhre of oeiruhtf roiuh</p>
</div>

<%- include("footer") -%>